<style>
    #logo {
      position: absolute;
      top: 15px;
      left: 15px;
      /* width: 250px; */
      transform: rotate(-11deg);      
    }

    #logo a {  
        display: inline-block;
        text-decoration: none;
        font: 16px "Helvetica";
        font-weight: bold;
        background: rgb(208, 34, 214);
        border-radius: 10px;
        color: #fff;
        padding: 10px;
        text-shadow: 2px 2px 14px #666;
    }
</style>
<div id="logo">
    <a href="#/donate" alt="Donate to support hasmyssnbeenpwned.com">DONATE ❤</a>
</div>
